---
import '../styles/404.css';

import MainLayout from '../layouts/MainLayout.astro';

const currentLocale = Astro.currentLocale || 'es';
const homeLink = currentLocale === 'es' ? '/' : currentLocale === 'ca' ? '/ca' : '/en';
---

<MainLayout
  currentLocale={"en"}
>
  <main id="not-found-page">
    <div class="not-found-content">
      <div class="error-code">404</div>
      <h1>Ups! Page not found</h1>
      <p>Seams like the page you're looking for doesn't exist.</p>
      <p>Don't worry, you can go back to the home page</p>
      <div class="actions">
        <a href={homeLink} class="button-primary">
          Go to Home
        </a>
      </div>
    </div>
  </main>
</MainLayout>