---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8"/>
      <link rel="icon" href="/favicon.ico">
		  <meta name="generator" content={Astro.generator} />
      <meta name="viewport" content="width=device-width,initial-scale=1"/>
      <meta name="theme-color" content="#000000"/>
      <meta name="title" content="Adrià Entreserra | Porfolio de Desarrollador Full Stack "/>
      <meta name="og:title" content="Mira el porfolio de Adrià Entreserra"/>
      <meta name="description" content="Soy Adri, un desarrollador de diferentes tecnologías como React, Astro, HTML, CSS, JS, MySql, C#, etc. ¡Echa un vistazo a mis proyectos!"/>
      <meta name="og:description" content="Descubre los proyectos de un desarrollador full stack"/>
      <meta name="og:image" content="https://i.imgur.com/I8HddI6.png"/>
      <link rel="canonical" href="https://byadri.dev"/>
      <title>Adrià Entreserra | Porfolio de Desarrollador Full Stack</title>
  </head>
	<body>
		<slot />
    <div id="noise-grain" />
	</body>
</html>